---
layout: default
---

<article class="post-content e-content" itemscope itemtype="http://schema.org/Article">
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%-d %B %Y" }}{% if page.tags %} — {{ page.tags | array_to_sentence_string }}{% endif %}</p>

    {% if page.image %}
    <figure class="featured-image">
      <img src="{{ page.image | relative_url }}" alt="{{ page.image_alt | default: page.title }}">
      {% if page.image_credit %}<figcaption class="img-credit">{{ page.image_credit }}</figcaption>{% endif %}
    </figure>
    {% endif %}
  </header>

  <div itemprop="articleBody">
    <div id="toc-placeholder"></div>
    {{ content }}
  </div>
</article>
